<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body background="/static/img/time3.jpg">

{#     {% load static %}#}
{#    <video width="400" height="240" controls>#}
{#        <source src="{% static 'v1.mp4' %}" type="video/mp4">#}
{#    </video><br>#}
<div align="right">
    <h1>欢迎{{ data1 }}<img src="/static/img/{{ data2 }}" height="25" , width="50" alt="加载失败" title="用户头像"/><br></h1>
</div>
<div align="center">
       <h1>{{key}}</h1>
</div>
<div align="center">
    <table border='2' bordercolor="#EEEEE0" width="600" height="100">
        <thead>
        <tr>
            <th>编号</th>
            <th>头像</th>
            <th>用户</th>
            <th>密码</th>
            <th>简介</th>
            <th>相关操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i.id }}</td>
                <td align="center"> {% load static %}
                    <img src="/static/img/{{ i.path }}" height="100" , width="200" alt="加载失败" title="用户头像"/><br></td>
                <td>{{ i.username }}</td>
                <td>{{ i.password }}</td>
                <td>{{ i.text|slice:'5' }}</td>
                <td><a href="/app/logout/{{ i.username }}/{{ username }}"><button style="width:43px;text-align:center;">删除</button></a>
                <a href="/app/details/{{ i.username }}/{{ username }}"><button style="width:43px;text-align:center;">详情</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div align="center">
    {% if data.has_previous%}
            <a href="?page={{ data.previous_page_number }}"aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
    {% endif %}
    {% for pg in data.paginator.page_range%}
        {% if data.number == pg %}
            <a href="?page{{ pg }}">{{ pg }}</a>
        {% else %}
            <a href="?page={{ pg }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
            </a>
    {% endif %}
</div>
<div align="center">
    <a href="/app/index/{{ username }}/"><button style="width:43px;text-align:center;">返回</button></a>
</div>
</body>
</html>