<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table table align="center" width="1000" height="75">
        <thead>
        <tr>
            <th>商品图像</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>商品数量</th>
            <th>商品简介</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
            <td align="center">
                {% load static %}
                <img src="/static/img/{{ i.path }}" height="100" , width="200" alt="加载失败" title="货物图片"/><br></td>
                <td align="center">{{ i.name }}<br></td>
                <td align="center">{{ i.price }}<br><a href="/app/revise/price/{{ i.id }}/{{ username }}">修改</a></td>
                <td align="center">{{ i.number }}<br><a href="/app/revise/number/{{ i.id }}/{{ username }}">修改</a></td>
                <td align="center">{{ i.synopsis}}<br><a href="/app/revise/synopsis/{{ i.id }}/{{ username }}">修改</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div align="center"><a href="/app/index/{{ username }}">返回</a></div>
</body>
</html>