<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
            .box {
                width: 80px;
                height: 30px;
                text-align: center;
                position: absolute;
                right: 3%;
                top: 1%;
            }

		</style>
     {% for i in data %}
     <script language="javascript">
        function now(){
            document.form1.action="/app/{{ i.id }}/{{ username }}/now/";
            document.form1.submit();
        }
        function last(){
            document.form1.action="/app/{{ i.id }}/{{ username }}/shop/";
            document.form1.submit();
        }
        {% endfor %}
</script>
</head>

<body>
    <div align="center">{{ err }}</div>
    {% for i in data %}
    <table table align="center" width="1000" height="75">

        <thead>
        <tr>
            <th>商品图像</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>商品余量</th>
        </tr>
        </thead>

        <tbody>
            <tr>
            <td align="center">
                {% load static %}
                <a href="/app/title/{{ i.id }}/">
                    <img src="/static/img/{{ i.path }}" height="100" , width="200" alt="加载失败" title="货物图片"/></a><br></td>
                <td align="center">{{ i.name }}</td>
                <td align="center">{{ i.price }}</td>
                <td align="center">{{ i.surplus }}</td>
                <td align="center">
                    <form action="/app/consumes/{{ username }}/{{ i.id }}/{{ i.number }}/" method="GET">
                    {% csrf_token %}
                        <a href="/app/consume/{{ username }}/{{ i.id }}/cut/">-</a>
                        {{ i.number }}
                         <a href="/app/consume/{{ username }}/{{ i.id }}/add/">+</a>
                <input type="submit" value="购买"></form></td>
                <td><form action="/app/consume/{{ username }}/{{ i.id }}/update/" method="GET">
                    {% csrf_token %}
                    <input type="text" name="num" style="width: 50px;">
                    <input type="submit" value="更改">
                </form></td>
                <td><a href="/app/del_id/{{ i.id }}/{{ username }}/">删除</a></td>
            </tr>
  </tbody>
    </table>
    {% endfor %}

    {% for i in data3 %}
<div class="box"><IMG  src="/static/img/{{ data2 }}" width="80" height="50" ><br>欢迎:{{ username }}<br><a href="/app/balance/{{ i.balance }}/">余额</a>:<br>{{ i.balance }}
    {% endfor %}</div>
<div align="center">
    {% if data.has_previous%}
            <a href="?page={{ data.previous_page_number }}"aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
    {% endif %}
    {% for pg in data.paginator.page_range%}
        {% if data.number == pg %}
            <a href="?page{{ pg }}">{{ pg }}</a>
        {% else %}
            <a href="?page={{ pg }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
            </a>
    {% endif %}   </div>
    <div align="center"><a href="/app/all/{{ username }}/">一键购买</a><br>
<a href="/app/index/{{ username }}">返回</a></div>
</body>
</html>